*
.grid,
.label,
.input,
.datos,
.aviso-cookies{
    grid-template-columns: 100px repeat(2, 50px) 200px;
    grid-template-rows: repeat(2, 50px 100px);
    font-family:Arial;
    background-color: #0000001a;
    color: rgb(16, 4, 4);
}